<!DOCTYPE html>
<html>
<head>
	<title>Example | About</title>
	

	
</head>
<body>

<div class="container">

	<h3>About</h3>
	<br/>
	<br/>


			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris maximus magna placerat nisl convallis molestie. Aenean pellentesque pretium enim, in imperdiet leo vestibulum sed. Phasellus sollicitudin mauris eget metus sollicitudin posuere. Cras tempus pellentesque nulla, in vulputate dolor aliquet in. Sed in turpis sit amet velit efficitur mollis quis non elit. Morbi urna ipsum, tristique vitae dignissim eu, tincidunt sit amet est</p>

</div>

<br/>
<br/>
<footer>
	<div class="container">
	Gyorgy Beszedics &copy; 2016
	
	</div>
</footer>


</body>
</html>